header{
    background: #4aaaa5;
    border: #cccccc;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
    color: #4aaaa5;
    font-size: 24px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
}